[submodule "themes/hiero"]
	path = themes/hiero
	url = https://github.com/iTimeTraveler/hexo-theme-hiero.git
[submodule "source"]
	path = source
	url = https://github.com/caesar0301/personal-site.git
